.content{
  padding-top: 10px;
}
.row{
  display:flex;
  gap: 8px;
  width: 100%;
}
mat-form-field{
  width: 100%;
}

.buttons-actions{
  padding:0px 25px 20px;

}
.buttons-actions button{
  flex: 1;
}
